<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.hotel.ReviewMapper">
<!-- namespace : dao 클래스의 sqlSession과 연결하기 위한 키로 사용 -->
	
	<!-- 리뷰 등록 -->
	<insert id="insert">
		INSERT INTO ${review}
		VALUES (REVIEW_SEQ.NEXTVAL, #{memberId}, #{hotelId}, #{reviewContent}, #{reviewStar}, SYSDATE)
	</insert>
	
	<!-- 리뷰 전체검색 -->
	<select id="select_all" resultType="ReviewVO">
		SELECT * FROM ${review}
		WHERE ${hotelId} = #{hotelId}
		ORDER BY ${reviewId} DESC
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="update">
		UPDATE ${review} SET
		${reviewContent} = #{reviewContent}, ${reviewDateCreated} = SYSDATE
		WHERE ${reviewId} = #{reviewId}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="delete">
		DELETE FROM ${review}
		WHERE ${reviewId} = #{reviewId}
	</delete>
	
	<!-- 내 작성 리뷰 수 조회 -->
	<select id="select_review_cnt" resultType="Integer">
		SELECT COUNT(*) FROM ${review}
		WHERE ${memberId} = #{memberId}
	</select>

</mapper>