<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB 테이블과 컬럼들을 mapper에 매핑하기 위한 변수 선언 -->
	<properties>
		<!-- 
		* property
		- name : mapper.xml에서 사용될 이름
		- value : DB 테이블 및 컬럼 이름
		 -->
	
	<!-- MEMBER 테이블 -->
	<property name="member" value="MEMBER" />
	<property name="memberId" value="MEMBER_ID"/>
	<property name="memberPw" value="MEMBER_PW"/>
	<property name="memberName" value="MEMBER_NAME"/>
	<property name="memberPhone" value="MEMBER_PHONE"/>
	<property name="memberEmail" value="MEMBER_EMAIL"/>
	<property name="memberDateCreated" value="MEMBER_DATE_CREATED"/>
		
	<!-- HOTEL 테이블 -->
	<property name="hotel" value="HOTEL"/>
	<property name="hotelId" value="HOTEL_ID"/>	
	<property name="hotelName" value="HOTEL_NAME"/>
	<property name="hotelContent" value="HOTEL_CONTENT"/>
	<property name="hotelAddress" value="HOTEL_ADDRESS"/>
	<property name="reviewCnt" value="REVIEW_CNT"/>
	<property name="hotelImg" value="HOTEL_IMG"/>
	<property name="hotelReviewAvg" value="HOTEL_REVIEW_AVG"/>
	<property name="heartCnt" value="HEART_CNT"/>
	
	<!-- HEART 테이블 -->
	<property name="heart" value="HEART"/>
	<property name="heartId" value="HEART_ID"/>
	<property name="hotelId" value="HOTEL_ID"/>
	<property name="memberId" value="MEMBER_ID"/>
	
	<!-- ROOM 테이블 -->
	<property name="room" value="ROOM"/>
	<property name="roomId" value="ROOM_ID"/>
	<property name="hotelId" value="HOTEL_ID"/>
	<property name="roomName" value="ROOM_NAME"/>
	<property name="roomPrice" value="ROOM_PRICE"/>
	<property name="roomCnt" value="ROOM_CNT"/>
				
	<!-- REVIEW 테이블 -->
	<property name="review" value="REVIEW"/>
	<property name="reviewId" value="REVIEW_ID"/>
	<property name="memberId" value="MEMBER_ID"/>
	<property name="hotelId" value="HOTEL_ID"/>
	<property name="reviewContent" value="REVIEW_CONTENT"/>
	<property name="reviewDateCreated" value="REVIEW_DATE_CREATED"/>
	
	<!-- BOARD 테이블 -->				
	<property name="board" value="BOARD"/>
	<property name="boardId" value="BOARD_ID"/>
	<property name="memberId" value="MEMBER_ID"/>
	<property name="boardTitle" value="BOARD_TITLE"/>
	<property name="boardContent" value="BOARD_CONTENT"/>
	<property name="boardDateCreated" value="BOARD_DATE_CREATED"/>
	<property name="replyCnt" value="REPLY_CNT"/>
	
	<!-- REPLY 테이블 -->
	<property name="reply" value="REPLY"/>
	<property name="replyId" value="REPLY_ID"/>
	<property name="memberId" value="MEMBER_ID"/>
	<property name="boardId" value="BOARD_ID"/>
	<property name="replyContent" value="REPLY_CONTENT"/>
	<property name="reviewStar" value="REVIEW_STAR"/>
	<property name="replyDateCreated" value="REPLY_DATE_CREATED"/>
	
	<!-- RESERVASION 테이블 -->
	<property name="reservation" value="RESERVATION"/>
	<property name="reservationId" value="RESERVATION_ID"/>
	<property name="hotelId" value="HOTEL_ID"/>
	<property name="roomId" value="ROOM_ID"/>
	<property name="memberId" value="MEMBER_ID"/>
	<property name="reservationHotelName" value="RESERVATION_HOTEL_NAME"/>
	<property name="reservationRoomName" value="RESERVATION_ROOM_NAME"/>
	<property name="totalPrice" value="TOTAL_PRICE"/>
	<property name="reservationCheckIn" value="RESERVATION_CHECK_IN"/>
	<property name="reservationCheckOut" value="RESERVATION_CHECK_OUT"/>
		
	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	
	<!-- typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="edu.spring.hotel.domain"></package>
	</typeAliases>
	
</configuration>